@attribute [Authorize(Roles = "Developers")]
@page "/Hearts/DevGame"
@using global::Games.Hearts
@inject HeartsGameFactory HeartsGame

<h3>Hearts - DevMode</h3>

<RadzenButton Text="New Game" Click="NewGame" />

@if (_gameState != null)
{
	<p>phase: @_gameState.Phase</p>
	<div class="grid">
		<div class="pe-3">
			@foreach (var player in _gameState.Players)
			{
				<hr />
				<h4 style="@CurrentPlayerStyle(player.Name)" class="p-2 rounded-2">@player.Name</h4>
				<div class="d-flex justify-content-between">
					<Hand Cards="player.Hand" GameState="_gameState" CardPlayed="OnCardPlayed" Playable="_gameState.IsPlayable(CurrentUser.UserName, player.Name)" PlayerName="@player.Name" />
					<div>
					@if (_gameState.Phase == PlayPhase.Pass)
					{
						<Hand Cards="_gameState.MyPasses(player.Name)" GameState="_gameState" CardPlayed="OnCardPlayed" Playable="false" PlayerName="@player.Name" />
					}
					else
					{
						<Card PlayingCard="_gameState.GetCurrentCard(player.Name)" />
					}					
					</div>
				</div>
			}
		</div>
		<div>
			<div>hearts broken: @_gameState.IsHeartsBroken</div>
			<ul>
				@foreach (var trick in _gameState.Tricks)
				{
					<li>
						<div>@trick.Winner - @trick.WinningCard.ToString() - @trick.Points</div>
					</li>
				}
			</ul>			
		</div>
	</div>
	
}

@code {
	private static string[] _playerNames = ["Alice", "Bob", "Charlie", "David"];

	private HeartsGameState? _gameState;

	[CascadingParameter]
	public ApplicationUser? CurrentUser { get; set; }

	private void NewGame()
	{
		_gameState = HeartsGame.Start(true, _playerNames.Select(p => (p, true)).ToArray());		
	}

	private string CurrentPlayerStyle(string playerName) => 
		_gameState?.CurrentPlayer?.Name.Equals(playerName, StringComparison.OrdinalIgnoreCase) ?? false ? 
			"background-color: lightgreen" : 
			"auto";

	private void OnCardPlayed(PlayingCard card)
	{
		StateHasChanged();
	}
}
